*.pyc
__pycache__/*
# *.txt
DISTILL/*
DATADUMP/*
VALIDATION_PSNR_DISTRIBUTION/*
TEST_SCHEDULER/*
SYS_PERF_DATA/*
log/*
!log/.gitkeep
log
seed_model_files
*.log
*.json
OLD_DATADUMP/*
OLD_MODEL_SEARCHES/*
MODEL_EXPERIMENTS/*
*.tar
# *.sh
ahd/*
local_output
